---
layout: home.njk
title: Main Site
---
<div class="blogs">
  {% for blog in collections.blog %}
  <a class="blog" href="{{ blog.url }}">
    <div class="blog-header">
      {% image blog.data.imagepath, "test" %}
    </div>
    <h2>{{ blog.data.title }}</h2>
    <p>{{ blog.data.description }}</p>
  </a>
  {% endfor %}
</div>