---
layout: home.njk
title: ''
---

{% set bloglist = collections.blog %}
{% include "blog-list.njk" %}

        {# <ul class="list-topics menu-item-regular">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blogs</a></li>
        </ul> #}