---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog
    - categories
permalink: /tags/{{ tag }}/
layout: home.njk
---

{% set bloglist = collections.blog | tagFilter(tag) %}
{% include "blog-list.njk" %}