{# <header>
    <nav>
        <ul class="list-main menu-item-bold">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <p class="menu-item-descriptor">Topics</p>
        <ul class="list-topics menu-item-regular">
            {% for category in collections.categories %}
                <li>  {% set categoryUrl %}/categories/{{ category | slugify }}/{% endset %}
                    <a href="{{ categoryUrl }}" >{{ category }}</a>
                </li>
            {% endfor %}
        </ul> 
    </nav>
</header> #}

<header>
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item brand">January Studios</li>
            <li class="nav-item"><a href="/about">About</a></li>
        </ul>
    </nav>
</header>