<header>
    <nav>
        <ul class="list-main menu-item-bold">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blogs</a></li>
        </ul>
        <p class="menu-item-descriptor">Topics</p>
        <ul class="list-topics menu-item-regular">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blogs</a></li>
        </ul>
    </nav>
</header>