@import 'breakpoints';
@import 'colors';
@import 'typography';
@import 'nav';

$background-color: #FFFFFF;
$nav-desktop-width: 120px;

body {
    margin: 0;
    padding: 0;
}

// .body-wrapper {
//     display: flex;
//     padding: 60px;
//     // width: 100%;
//     background-color: $background-color;
//     @include breakpoint($bp-md) {
//         // width: calc(100% - $nav-desktop-width);
//         // width: 100%;
//     }
// }
// nav
.nav-list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Figtree';
    color: $cloud;
    text-align: center;
}
.nav-item {
    padding: 24px 24px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    &.brand {
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.1em;
    }
}

.body-wrapper {
    background: #72C4E866;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    @include breakpoint($bp-sm) {
        padding: 0 40px;
    }
    @include breakpoint($bp-lg) {
        padding: 0 80px; // WIP VARIABLEIZE?
    }
}

a {
    color: inherit;
    text-decoration-line: none;
}

.blog-cards {
    display: flex;
    flex-wrap: wrap;
    .blog {
        width: 100%;
        padding-top: 24px;
        @include breakpoint($bp-sm) {
            width: calc(50% - 20px);
            padding-right: 10px;
            padding-left: 10px;
        }
        @include breakpoint($bp-lg) {
            width: calc(33.33333% - 40px);
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 60px;
        }
    }
    
    .blog-header {
        aspect-ratio: 1;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .blog-info {
        background-color: $cloud;
        padding: 24px;
        height: 200px;
        display: flex;
        flex-direction: column;
        p, h2 {
            margin: 0;
        }

        .blog-title {
            color: $canary-900;
            font-family: 'Figtree';
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -0.02em;
            padding-bottom: 12px;
        }
        .blog-description {
            color: $ash-900;
            font-family: 'Figtree';
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
        .blog-meta {
            display: flex;
            margin-top: auto;
            font-family: 'Figtree';
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            bottom: 0;
            .blog-date {
                padding-right: 12px;
                color: $ash-600;

            }
            .blog-category {
                color: $canary-900;
            }
        }
    }
}