@import 'breakpoints';
@import 'colors';
@import 'typography';
@import 'nav';

$background-color: #FFFFFF;
$nav-desktop-width: 120px;

// .body-wrapper {
//     display: flex;
//     padding: 60px;
//     // width: 100%;
//     background-color: $background-color;
//     @include breakpoint($bp-md) {
//         // width: calc(100% - $nav-desktop-width);
//         // width: 100%;
//     }
// }
// nav
.nav-list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Figtree';
    color: $cloud;
}
.nav-item {
    padding: 24px 24px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    &.brand {
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.1em;
    }
}

body {
    background: #72C4E866; // WIP PLACEHOLDER NEEDS ASSET
    padding: 0 80px; // WIP VARIABLEIZE?
}

a {
    color: initial;
    text-decoration-line: none;
}

// .blogs {
//     display: flex;
//     flex-wrap: wrap;
// }

// .blog {
//     text-align: center;
//     width: 100%;
//     @include breakpoint($bp-md) { 
//         &:nth-child(n+2),
//         &:nth-child(n+3) {
//             width: calc((100% - 16px)/2);
//         }
//         &:nth-child(n+3) {
//             padding-left: 16px;
//         }
//     }
// }

// .blog-header {
//     img {
//         width: 100%;
//         height: auto;
//     }
// }

