@import 'breakpoints';
@import 'colors';
@import 'typography';
@import 'nav';

$background-color: #FFFFFF;

body {
    display: flex;
    width: 100%;
    background-color: $background-color;
}

header {
    width: 30%;
}

main {
    padding: 24px;
}

a {
    color: initial;
    text-decoration-line: none;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
}

.blog {
    text-align: center;
    width: 100%;
    @include breakpoint($bp-md) { 
        &:nth-child(n+2),
        &:nth-child(n+3) {
            width: calc((100% - 16px)/2);
        }
        &:nth-child(n+3) {
            padding-left: 16px;
        }
    }
}

.blog-header {
    img {
        width: 100%;
        height: auto;
    }
}