$primary-text: #151515;
$secondary-text: #727476;
$link-text: #0C8EC6;
$brand-dark-tan: #887B63;

// Brand Colors
$tan: #ECE7DE;
$ash: #1B1A19;
$ash-600: #6D6C6B;
$ash-700: #5A5957;
$ash-800: #3B3A39;
$ash-900: #1B1A19;
$cloud: #FFFFFF;
$canary: #FBA629;
$canary-500: #FA9808;
$canary-900: #E15301;
$wave: #72C4E8;
$bloom: #E87278;
