@import 'colors';
@import 'breakpoints';

.blog-title {
    font-family: Fraunces;
    color: $primary-text;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    @include breakpoint($bp-md) { 
        font-size: 36px;
        line-height: 45px;
    }
}

.blog-description {
    font-family: Figtree;
    color: $primary-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    @include breakpoint($bp-md) { 
        font-size: 20px;
        line-height: 22px;
    }
}

.blog-heading {
    font-family: Fraunces;
    color: $primary-text;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
}

.blog-body {
    font-family: Inter;
    color: $primary-text;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.menu-item-bold {
    font-family: Figtree;
    font-weight: 700;
    color: $primary-text;
    font-size: 20px;
    line-height: 26px;
}

.menu-item-regular {
    font-family: Figtree;
    font-weight: 400;
    color: $primary-text;
    font-size: 20px;
    line-height: 26px;
}

.menu-item-descriptor {
    font-family: Figtree;
    font-weight: 700;
    text-transform: uppercase;
    color: $brand-dark-tan;
    font-size: 14px;
    line-height: 16px;
}

