@import '../breakpoints';
@import '../colors';

$mobile-bp: $bp-md;

.body-wrapper {
    background-image: var(--bg-image-mobile);
    @include breakpoint($mobile-bp) {
        background-image: var(--bg-image);
    }
}

.content-wrapper {
    background-color: $cloud;
    .blog-header-section {
        display: flex;
        flex-direction: column;
        @include breakpoint($mobile-bp) {
            flex-direction: row;
            align-items: center;
            padding: 80px;
        }
        .blog-image {
            aspect-ratio: 1;
            height: auto;
            @include breakpoint($mobile-bp) {
                max-width: 500px;
                padding-right: 40px;
            }
        }
        .blog-title {
            margin: 0;
            color: $ash-800;
            font-family: 'Figtree';
            font-weight: 700;
            font-size: 96px;
            letter-spacing: -0.02em;
        }
    }

    .blog-body-wrapper {
        background-color: #ECE7DE;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 96px;
        
    }

    .blog-body {
        max-width: 660px;
        padding-bottom: 40px;
        padding-right: 16px;
        padding-left: 16px;
        @include breakpoint($mobile-bp) {
            padding-bottom: 64px;
        }
    }

    .blog-meta {
        display: flex;
        flex-direction: column;
        max-width: 660px;
        @include breakpoint($mobile-bp) {
            flex-direction: row;
            width: 100%;
        }
    }

    .blog-meta-wrapper {
        padding-right: 40px;
    }

    .blog-meta-label {
        color: $ash-600;
        font-family: 'Figtree';
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    .blog-date {
        color: $ash-900;
        font-family: 'Figtree';
        font-weight: 600;
        font-size: 16px;
        text-transform: capitalize;
    }

    .blog-category {
        color: $canary-900;
        font-family: 'Figtree';
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;;

    }

    .blog-related {
        padding-left: 16px;
        padding-right: 16px;
        @include breakpoint($mobile-bp) {
            padding-top: 80px;
            padding-left: 54px;
            padding-right: 54px;
            padding-bottom: 70px;
        }

        h3 {
            margin: 0;
            @include breakpoint($bp-sm) {
                padding-right: 10px;
                padding-left: 10px;
            }
            @include breakpoint($bp-lg) {
                padding-right: 20px;
                padding-left: 20px;
            }
        }
        .blog-related-heading {
            color: $ash-900;
            font-family: 'Figtree';
            font-weight: 500;
            font-size: 32px;
            text-transform: capitalize;;
            letter-spacing: -0.03em;
        }
        .blog-cards {
            .blog {
                padding-top: 24px;
            }
        }
    }
    
}